body
{
    background-color: rgb(175, 167, 167);
}
.top-container
{
    display: flex;
    flex-grow: row wrap;
    justify-content: center;
}
.top-item
{
    color: red;
    text-shadow: 1px 1px black;
    border: .3rem solid red;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .1rem black;
    background-color: white;
    width: 25rem;
    text-align: center;
    line-height: 1.5rem;
    font-style: italic;
}
.mid-container
{
    border: .5rem solid green;
    
}
.mid-bot > div
{
    color: red;
    text-shadow: 1px 1px black;
    border: .3rem solid red;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .1rem black;
    background-color: white;
    height: 15rem;
    width: 15rem;
}
.mid-top
{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
}
.mid-bot
{
    margin: 4rem 0 3rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
}
.mid-item1
{
    color: red;
    text-shadow: 1px 1px black;
    border: .3rem solid red;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .1rem black;
    background-color: white;
    height: 15rem;
    width: 15rem;
    /* margin-right: 70rem; */
}
.mid-item2
{
    color: red;
    text-shadow: 1px 1px black;
    border: .3rem solid red;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .1rem black;
    background-color: white;
    height: 15rem;
    width: 15rem;
    margin-right: 2rem;
   /* background-image: url(./img1.png);
   background-size: 90%; */
}

.mid-item4
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 2rem;
}
hr
{
    color: white;
}
button
{
    background-color: red;
    border-radius: 1rem;
    
}
label
{
    display: block;
    margin-top: 1rem;
}
.bottom
{
    display: flex;
    flex-grow: row wrap;
    justify-content: center;
    padding: 1rem;
}
.bottom-container
{
    background-color: green;
    border: .3rem solid purple;
    width: 60%;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    gap: .5rem .2rem;
}
.head
{
    grid-column: 1 / 3;
}
.box1, .box2
{
    font-style: italic;
    background-color: yellow;
}
.box3
{
    font-style: italic;
    background-color: yellow;
    grid-column: 1 / 3;
    margin-bottom: .5rem;
}
.fixed
{
    color: red;
    text-shadow: 1px 1px black;
    border: .3rem solid red;
    border-radius: .5rem;
    box-shadow: .2rem .2rem .1rem black;
    background-color: rgb(32, 235, 32);
    width: 26rem;
    text-align: center;
    position:sticky;
    bottom: 5rem;
    left: 35rem;
}
.main
{
    display: flex;
    flex-grow: row wrap;
}
.left
{
    padding: 1rem;
    font-size: 1.3rem;
    font-style: italic;
}
.right
{
    
    padding: 1rem 0 1rem 3rem;
    font-style: italic;
}