body
{
    background-color: yellow;
}
h2
{
    text-align: center;
}
.flex
{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}
.box
{
    width: 6rem;
    height: 6rem;
    background-color: green;
    margin-bottom: 2rem;

    transition: width 5s;
}
a
{
    font-size: 1.3rem;
    position: relative;
    left: 15px;
}
.box:hover
{
    width: 300px;
}
.box2
{
    transition: width 2s, height 5s;
}
.box2:hover
{
    width: 300px;
    height: 300px;
}