.text
{
    font-size: 3rem;
    text-align: center;
}
.text1
{
    background-color: orange;
    display: inline-block;
}
.text2
{
    background-color: white;
    display: inline-block;
    border: 1px solid;
}
.text3
{
    background-color: green;
    display: inline-block;
}
body
{
    background-image: url(./sky.jpg);
    /* background-repeat: no-repeat; */
}
.city
{
    background-image: url(./city.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 200px;
    width: 100%;
    bottom: 200px;
}
.road
{
    background-image: url(./road.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 200px;
    width: 100%;
    bottom: 0px;
}
.car
{
    background-image: url(./car.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100px;
    width: 300px;
    bottom: 150px;
    left: 40%;
    z-index: 10;
}
.front
{
    background-image: url(./wheel.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 55px;
    width: 55px;
    bottom: 125px;
    z-index: 10;
    left: 824px;

}
.back
{
    background-image: url(./wheel.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 55px;
    width: 55px;
    bottom: 127px;
    z-index: 10;
    left: 639px;
}